@font-face {
    font-family: "Railway";
    src: url("font/Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: "omarRegular";
    src: url("font/Khula-Regular.ttf");
}

@font-face {
    font-family: "omarBold";
    src: url("font/Khula-Bold.ttf");
}

@font-face {
    font-family: "omarLight";
    src: url("font/Khula-Light.ttf");
}

@font-face {
    font-family: "omarSemi";
    src: url("font/Khula-SemiBold.ttf");
}

:root {
    --black: #393E4D;
    --lightblack: #252425;
    --orange: #E97D1F;
    --gray: #97ADAD;
    --white: #FFFFFF;
    --red: #FF6A55;
    --green: #2BD23C;
    --olive: #9DBF16;


    --one: #012b44;
    --two: #2E4F4F;
    --three: #0E8388;
    --four: #CBE4DE;
    --hover: #F1FEA4;
    --hover2: #C4DCEA;
    --bg: #f1f9ff;
  

}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.all {
    display: grid;
    grid-template-columns: 0.18fr 0.82fr;
    height: 100%;

}

.sidebar {
    background-color: var(--one);
    height: 100%;
}


img {
    height: 45px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
    gap: 30px;
    margin-left: 15px;
}

.header > .profile {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 15px;
}


.header > .profile > :nth-child(2) {
    border-radius: 20px;
}

.header > .profile > :last-child {
    font-size: 20px;
}

.search > input {
    height: 30px;
    border-radius: 30px ;
    width: 200px;
}

.sidebar > * > img {
    filter: invert(100%);
}

.sidebar > * > * > img {
    filter: invert(100%);
    height: 30px;

}

.sidebar > * > * > div {
    color: var(--white);
}


.top  {
    gap: 60px;
}


.home, .top > .profile, .messages, .history, .tasks, .communities {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    align-items: center;
}

.home > *, .top > .profile > *, .messages > *, .history > *, .tasks > *, .communities > * {
    margin-left: 20px;;
}

.communities {
    margin-bottom: 80px;
}

.sidebar {
    display: flex;

    flex-direction: column;

}


.footer {
    display: flex;
    align-self: center;
    gap: 35px;
    position: fixed;
    bottom: 30px;
}

body {
    font-family: "omarSemi";
    font-size: 16px;
}


.one, .two, .three, .four, .five, .six {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
    border: 2px solid var(--one);
    border-radius: 15px;
    transition: 0.8s;

}

.links > a > img {
    height: 30px;
}

.links {
    align-self: flex-end;
    display: flex;
    gap: 15px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 0.33fr);
    flex: 0 0 50%;
    max-width: 100%;
    gap: 20px; 
    padding: 30px;
}


.title {
    border: 2px solid var(--two);
    width: 180px;
    padding-left: 30px;
    padding-bottom: 0px;
    font-size: 40px;
    border-radius: 50px;
    background-color: var(--three);
    margin-top: 50px;
    margin-left: 50px;
    font-family: "omarBold";

}

body {
    background-color: var(--bg);
}

.text > :first-child {
    font-size: 20px;
    font-family: "omarSemi";
}
.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover {
    background-color: var(--two);
    cursor: default;

}

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover {
    background-color: var(--hover2);
    cursor: default;
}


a > img:hover {
    transform: translateY(-10px);
    transition-delay: 1s;
}

a > img {
    transition: 0.15s;
}


.header {
    position: sticky;
    top: 0px;;
    background-color: var(--lightblack);
    padding: 10px;
}


.bell, .search > img {
    filter: invert(100%);
    height: 30px;
}

.header {
    color: var(--white);
}


.top {
    position: fixed;
    top: 0;
}