@font-face {
    font-family: "Railway";
    src: url("font/Raleway-VariableFont_wght.ttf");
}

:root {
    --black: #393E4D;
    --orange: #E97D1F;
    --gray: #97ADAD;
    --white: #FFFFFF;
    --red: #FF6A55;
    --green: #2BD23C;

}

/* ======================= Aligning Header ======================= */
.header {
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-family: "Railway";
}
img {
    max-width: 60px;
    /* max-height: 75px; */
    /* background-color: black; */
}

.profile > img {
    border-radius: 30px;
}

.search > img {
    width: 35px;
    
}

.search > input {
    border-radius: 20px;
    height: 40px;
    font-size: 30px;
}

body {
    font-family: "Railway";
}

.bell {
    width: 30px;
}

.bell:hover {
    width: 35px;
    cursor: pointer;
}

.search > img:hover {
    cursor: pointer;
}

.search>input:focus {
    border: 10px solid green;
}

/* ======================= Aligning Sidebar ======================= */

/* Top */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.top > div, .middle > div {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 22px;
    gap: 30px;
}

.bottom {
    display: flex;
    gap: 20px;
}


.top>.profile:hover, .history:hover, .home:hover, .messages:hover, .tasks:hover, .communities:hover, .settings:hover, .support:hover, .privacy:hover{
    background-color: gray;
    cursor: pointer;
}

/* body {
    background-color: var(--black);
    color: white;
} */

.bell{
    
    background-color: var(--orange);
}

.profile > img {
    background-color: red;
}

.messages > img:hover {
    border-radius: 10px;
    background-color: var(--orange);
}

.history > img:hover {
    border-radius: 25px;
    background-color: var(--orange);
}



/* Design the grid of projects */
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 40px;
}

.grid-container > *{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid var(--red);
    border-radius: 30px;
    padding: 20px;
    align-items: center;
}

.links {
    display: flex;
    gap: 150px;
    justify-content: space-around; 
}